<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.1.0" targetFramework="net48" />
  <package id="OpenToolkit.Core" version="4.0.0-pre3" targetFramework="net48" />
  <package id="OpenToolkit.Mathematics" version="4.0.0-pre3" targetFramework="net48" />
  <package id="opentoolkit.redist.glfw" version="3.3.0-pre20190424184726" targetFramework="net48" />
  <package id="OpenToolkit.Windowing.Common" version="4.0.0-pre3" targetFramework="net48" />
</packages>